@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.poppins-lt {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.poppins-rg {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.poppins-sb {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.poppins-bd {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
 
