<footer>
  <div>
    © alexinfantini 2026 -
    <a
      href="mailto:info@alexinfantini.it"
      title="info@alexinfantini.it"
      aria-label="invia una mail a info@alexinfantini.it"
      >info@alexinfantini.it</a
    >
  </div>
</footer>
