<nav class="navigation">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/web-resources" class="color">Risorse Web</a></li>
    <li><a href="/contacts">Contatti</a></li>
  </ul>
</nav>
